<div class="container">
  <div class="profile">
    <% if (user) { %>
      <h1>User: <%= user.username %> </h1>
      <div class="favorites">
        <% user.favorites.forEach((favorite) => {%>
          <div class="item">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Five-pointed_star.svg/2000px-Five-pointed_star.svg.png" class="star" alt="">
            <h2> <%= favorite.title%></h2>
          </div>
          <% }); %>
      </div>
      <% } %>
        <a class="" href="/repos">

          <div class="repo_button">
            Repos
          </div>
        </a>
  </div>

  <% if (repos) { %>
    <ul>
      <% repos.forEach((repo) => {%>

        <li>
          <%= repo.name %>
        </li>
        <% });%>
    </ul>
    <% } %>
</div>
