.dash_container {
  width: 100%;
  min-height: 100%;
  padding-bottom: 100px;
  font-family: Arial;
}

.dashboard {
  background-color: #f8f8f8;
}

.header {
  font-weight: bold;
  text-align: center;
  color: #313131;
  font-size: 40px;
  padding-top: 100px;
}

.project {
  width: 60%;
  background-color: white;
  min-height: 200px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 5px;
  margin: 0 auto;
}

.project a {
  text-decoration: none;
}

.issue {
  width: 90%;
  margin: 0 auto;
  min-height: 150px;
  background-color: #d1ffd1;
  border-radius: 5px;
  margin-top: 25px;
  font-size: 20px;
}

.issue:hover {
  width: 95%;
  cursor: pointer;
}

.issue_status {
  width: 30px;
  display: inline-block;
  height: 30px;
  background-color: #ebebeb;
  border: 3px solid white;
  border-radius: 20px;
  margin: 10px;
  float: right;
  overflow: hidden;
}

.progress {
  background-color: green;
}

.hold {
  background-color: #ffd60d;
}

.stalled {
  background-color: #cb0000;
}

.issue_title {
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #313131;
}

.issue_description {
  padding: 20px;
  padding-top: 0;
  color: #545353;
}

.issue_footer {
  min-height: 40px;
}

.issue_author {
  padding: 20px;
  padding-top: 0;
  font-style: italic;
  display: inline-block;
  float: left;
  color: #2900c3;
}

.issue_count {
  padding: 20px;
  padding-top: 0;
  font-style: italic;
  display: inline-block;
  float: left;
  color: #a49f9f;
}

.issue_date {
  padding: 16px;
  padding-top: 0;
  color: #545353;
  display: inline-block;
  float: right;
}

@media (max-width: 1000px) {
  .project {
    width: 95%;
  }
  .issue {
    font-size: 15px;
  }
}

.star {
  fill: white;
}

.star.gold {
  fill: gold;
}

.star:hover {
  fill: gold;
}

.favorite_link svg {
  /* margin: 5; */
  margin-bottom: -10;
}

/* profile */

.container {
  width: 950px;
  margin: 0 auto;
  text-align: center;
  margin-top: 10%;
}

.repo_button {
  width: 200px;
  background-color: #e1d8d8;
  height: 50px;
  border: 3px solid #dbdbdb;
  margin: 0 auto;
  border-radius: 10px;
  font-size: 30px;
}

.repo_button:hover {
  background-color: #ccc7c7;
}

.favorites {
  width: 950px;
  min-height: 100px;
  border-radius: 10px;
  background-color: #efefef;
  padding: 10px;
  margin-bottom: 50px;
  overflow: hidden;
}

.item {
  width: 150px;
  height: 100px;
  background-color: #4ce74c82;
  border-radius: 10px;
  margin: 10px;
  float: left;
}

.item h2 {
  font-size: 15px;
}

.item:hover {
  width: 170px;
  height: 120px;
  margin: 0;
  cursor: pointer;
}

.star {
  width: 20px;
  float: right;
  margin: 10px;
  background-color: gold;
  border-radius: 10px;
}

a {
  text-decoration: none;
}
